

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: url('../img/20211205_034145.jpg') center/cover no-repeat;
    position: relative;
    padding: 20px;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(116, 120, 121, 0.7); /* Fondo blanco semitransparente */
    
    z-index: 1;
}
.hero-text {
    margin-right: 20px;
    position: relative;
    z-index: 2;
    color: rgb(205, 207, 207);
}
.hero img {
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
body {
font-family: 'Dancing Script', cursive;
background-color: rgb(0, 0, 0);
}
h1 {
    font-size: 3rem; 
  }

  p {
    font-size: 1.5rem; 
  }
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 3s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  body {
    margin: 0;
    
  
  }

  .heart {
    position: absolute;
    color: red;
    font-size: 20px;
    animation: float 4s linear infinite;
    opacity: 0;
  }

  @keyframes float {
    0% {
      transform: translateY(0) scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh) scale(1);
      opacity: 0;
    }
  }

  /*boton*/
  .button {
    background: linear-gradient(102deg, #635e5e 40%, #887d7d 60%);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;
    display: block;
    margin: 20px auto; /* Centrar automáticamente */
    text-align: center;
    font-size: 1.5rem; 
    padding: 1.2rem 2.5rem;
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}
.texto, h1,p{
  color:white;
}
/*icon*/
.gift-icon {
  display: inline-block;
  font-size: 40px; /* Ajusta el tamaño según necesites */
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.regalo {
  border: 2px solid #ccc; /* Borde para resaltar */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Esquinas redondeadas */
  background-color: #635e5e; /* Color de fondo */
  max-width: 400px; /* Ajusta el ancho según necesites */
  margin: 20px auto; /* Centrar el div */
  text-align: center; /* Centrar el texto */
}
.hero2 {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .creditos{
  font-size: medium;
  text-align: center;
  }